# Obsidian System-Dateien (Wichtig!)
.obsidian/cache/
.obsidian/plugins/obsidian-git/
.obsidian/indexedDB/

# Workspace & UI State (Damit GitHub nicht bei jedem Klick nervt)


# System-Müll
.trash/
.DS_Store
Thumbs.db
*.log

# Falls du große lokale Backups hast
Local Backup/

